<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pomelo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
				<key>dateExpires</key>
				<string>03/06/2025</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.2.9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MoltenVK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.5004</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavcodec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavfilter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavformat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>58.2.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavutil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>58.2.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.10.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libswresample.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEA57E3927E61C16FC4D56159CD032B6D0D6D13B</string>
						<key>dateExpires</key>
						<string>03/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libswscale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4QL9A2T88</string>
						<key>name</key>
						<string>Leopold Schaffhauser</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.100</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F4QL9A2T88.com.stossy11.Pomelo1</string>
				<key>com.apple.developer.kernel.extended-virtual-addressing</key>
				<true/>
				<key>com.apple.developer.kernel.increased-debugging-memory-limit</key>
				<true/>
				<key>com.apple.developer.kernel.increased-memory-limit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>F4QL9A2T88</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Pomelo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a3e653b4-3e68-45ac-964d-ae3e65e8210f</string>
				<key>dateExpires</key>
				<string>14/07/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.stossy11.Pomelo1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F4QL9A2T88</string>
				<key>name</key>
				<string>Leopold Schaffhauser</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.9</string>
		</dict>
	</array>
</dict>
</plist>
