<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>NRO file</string>
			<key>UTTypeIdentifier</key>
			<string>com.stossy11.nro</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>NCA file</string>
			<key>UTTypeIdentifier</key>
			<string>com.stossy11.nca</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>NSO file</string>
			<key>UTTypeIdentifier</key>
			<string>com.stossy11.nso</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>NRO file</string>
			<key>UTTypeIdentifier</key>
			<string>com.stossy11.nsp</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>NRO file</string>
			<key>UTTypeIdentifier</key>
			<string>com.stossy11.xci</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>NRO file</string>
			<key>UTTypeIdentifier</key>
			<string>com.stossy11.keys</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>nro</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
